@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer components {
  .bg-gradient {
    background-image: linear-gradient(
      to right,
      #ff6b6b,
      #3b82f6
    ); /* Pink to Red-Blue gradient */
    background-size: 100% 100%;
  }

  .dark .bg-gradient-dark {
    background-image: linear-gradient(
      to right,
      #121212,
      #1f2937
    ); /* Dark mode gradient colors */
  }
}

::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: #000; /* Change this to your desired color */
}
* {
  scrollbar-width: thin; /* Adjust the width as needed */
  scrollbar-color: #000 transparent; /* Change this to your desired color */
}

*::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

*::-webkit-scrollbar-thumb {
  background-color: #000; /* Change this to your desired color */
}

/* Change scrollbar color to white in dark mode */
.dark ::-webkit-scrollbar-thumb {
  background-color: white;
}

/* Change scrollbar width (optional) */
.dark ::-webkit-scrollbar {
  width: 8px;
}

/* Change scrollbar color to white in Firefox (optional) */
/* Note: Firefox does not support changing scrollbar color directly, but you can change the scrollbar width */
.dark * {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}
